.card {
  display: flex;
  flex-direction: row;
  background-color: #E9EDFA;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px 1px gray;
}
.card > img {
  width: 170px;
  height: 250px;
}

.cardDetails {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  line-height: 0px;
}
.cardDetails h4 {
  margin: 12px;
}

.cardMeters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardMeters > meter {
  height: 50px;
  width: 300px;
}
.cardMeters > meter::-webkit-meter-optimum-value {
  background-color: #f3701a;
}
.cardSm > meter {
  height: 30px;
  width: 150px;
  -webkit-meter-bar: red;
}
.cardSm > meter::-webkit-meter-optimum-value {
  background-color: #f3701a;
}
.detailBtn{
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  height: 5%;
}
.emotions {
  display: flex;
}

.emotions img {
  width: 30px;
  margin-right: 4px;
}